@media only screen and (max-width: 1380px) {
 .hero-right{
    display: none;
  }


}
@media only screen and (max-width: 1300px) {
 .hero-text {
    top: 21%;
    font-size: 38px;
}
 .service-card-row1 {

     margin-left: 21px;
}
.our-services-top-button {

 
    margin-right: 0px;
}
.our-services-top {

    padding-top: 23px;
}
.footer-contact-card{
position: inherit;
top: 0px;
right: 0px;
}   
}
@media only screen and (max-width: 1200px) {
.info-button-main-div {
    padding-top: 100px;
    /* padding-left: 133px; */
    /* padding-right: 133px; */
}
.service-card1-border {
    border-bottom: none;
}
.service-card-row1 {
    border-right: none;
    /* margin-left: 351px; */
}
.service-card-row2 {
    border-right: none;
}

}


@media only screen and (max-width: 999px) {
  .md-justify-content-normal {
    justify-content: start !important;
  }
  .info-button-main-div {
    padding-top: 50px;
    /* padding-left: 133px; */
    /* padding-right: 133px; */
}
 .service-card-main-div{
flex-wrap: wrap;
 }
 .our-services-top-main-div {
    background-color: #F2F2F2;
    margin-top:34px;
}
.our-services-top container{
    padding-top: 10px;
}
.services-container {
    padding: 30px 20px;
}
.services-grid {
    margin-bottom: 26px;
    margin-left: 0px;
    margin-right: 0px;
}
.service-card{
    margin: 10PX  ;
}
.service-buttons {

    margin-top: 20px;
}

}
@media only screen and (max-width: 768px) {
.hero-text {
    font-size: 28px;
    top: 13%;
}
.info-buttons {
    width: 100%;
}
.our-services-top-main-div {
    margin-top: 50px;
}
.container {
    padding: 0px 19px;
}
.service-card-main-div {
    padding-top: 0px;
    padding-bottom: 10px;
}
.map-container {
    margin-top: 50px;
 
}
.testimonial-wrapper {
 
    padding: 60px 20px;

}

.site-footer {

    margin-top: 1px;
}
.footer-logo-section {
    margin-top: 10px;
}

}
@media only screen and (max-width: 525px) {


  .container {
    padding: 0px 19px;
  }
  .links-top-header {
    margin-bottom: 20px;
    margin-top: 11px;
  }
  .contact-info-top-header {
    margin-bottom: 22.8px;
  }
  .heading-40 {
    font-size: 30px;
  }
  .heading-16 {
    font-size: 13px;
  }
  .hero-text {
    font-size: 21px;
    top: 14%;
}
}
@media only screen and (max-width: 425px) {
  .hero-text {
    font-size: 20px;
    top: 13%;
}
}
@media only screen and (max-width: 375px) {

 .hero-text {
    font-size: 16px;
    top: 10%;
}
}

